<ul class="sidebar-nav list-group">


  {% if user.is_authenticated %}
    <li class="list-group-item">
      User: {{ user.username }}
    </li>
    <li class="list-group-item">
      <form method="POST" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0" style="text-decoration: none;">Logout</button>
    </form>
    </li>
    
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}


  <br>


  <li class="list-group-item">
    <a href="{% url 'storage:index' %}">Home</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'storage:idea-list' %}">All ideas</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'storage:user-list' %}">All users</a>
  </li>

  <li class="list-group-item">
    <a href="{% url 'storage:category-list' %}">All categories</a>
  </li>


</ul>